/* ------------------------------- CSS DA HOME --------------------------------*/
body.pagina-interna {
    position: relative;
    background: transparent;
}

body.pagina-interna::before {
    content: "";

    position: fixed;
    inset: 0;

    background:
        linear-gradient(
            to bottom,
            rgba(0,0,0,.25),
            rgba(0,0,0,.20),
            rgba(0,0,0,0.35)
        );

    z-index: -1;
    pointer-events: none;
}


.abertura-container {
    position: relative;
    width: 100%;
    align-items: center;
    overflow: hidden;
}

#home-centroOeste .titulo-secao{
    text-align: center;
    max-width: 1000px;
    margin: 0 auto 4em auto;
    padding: 5%;
}


.abertura-home {
    width: 100%;
    display: block;
    transform: scale(1);
    transition: transform .1s linear;
    animation: zoomSuave 15s ease-in-out infinite alternate;
}


.abertura-overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;

    background:
        linear-gradient(
            to bottom,
            rgba(0,0,0,0.95),
            rgba(0,0,0,0.75),
            rgba(0,0,0,0.90)
        );
}

.introducao {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    text-align: center;
}

.introducao h1 {
    font-family: "Six Caps", sans-serif;
    font-size: 30em;
    line-height: 0.9;
    color: rgba(242, 224, 200, 0.03);
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.15);
    text-shadow: 0 4px 20px rgba(255,255,255,0.01);
}

.introducao h2 {
    font-size: 1em;
    color: var(--cor-areia);
    text-shadow: 0 4px 20px rgba(0,0,0,0.6);
    margin-block: 15px;
}

.introducao h2::after, .introducao h2::before {
    content: "";

    display: block;

    width: 100%;
    height: 2px;

    margin-block: 15px;

    background: linear-gradient(
        to right,
        transparent,
        var(--cor-areia),
        transparent
    );
}

/* ----------------------- CSS DA HOME - HISTÓRIA -------------------------*/

.home-historia{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.historia-slide{
    position: absolute;
    inset: 0;

    background-size: cover;
    background-position: center;

    opacity: 0;
    visibility: hidden;

    transition: .8s ease;
}

.historia-slide.ativo{
    opacity: 1;
    visibility: visible;
}

.historia-overlay{
    position: absolute;
    inset: 0;

    background:
        linear-gradient(
            to bottom,
            rgba(0,0,0,.65),
            rgba(0,0,0,.55),
            rgba(0,0,0,.85)
        );
}

.historia-conteudo{
    position: absolute;

    left: 8%;
    bottom: 10%;

    max-width: 700px;

    z-index: 2;

    color: white;
}

.historia-periodo{
    color: var(--cor-verde-menta);
    letter-spacing: 4px;
    font-size: 1.1em;
}

.historia-conteudo h2{
    font-family: "Six Caps", sans-serif;
    font-size: 10em;
    color: var(--cor-areia);
    line-height: 0.9;
    text-shadow: 0 4px 20px rgba(0,0,0,.6);
    margin: 40px 0;
}

.historia-conteudo p{
    font-size: 1em;
    line-height: 1.8;
    max-width: 600px;
}

/* Botões */

.historia-btn{
    display: flex;
    position: absolute;
    top: 50%;

    transform: translateY(-50%);

    z-index: 10;

    border-radius: 50%;
    padding: 20px;

    cursor: pointer;

    color: white;
    font-size: 2em;

    background: rgba(0,0,0,.3);

    backdrop-filter: blur(5px);

    border: 1px solid rgba(255,255,255,.15);

    transition: .3s;
}

.historia-btn:hover{
    background: rgba(0,0,0,.6);
}

.historia-anterior{
    left: 30px;
    transform: translateY(-50%) rotate(180deg);

}

.historia-proximo{
    right: 30px;
    transform: translateY(-50%);
}

/* Indicadores */

.historia-indicadores{
    position: absolute;

    bottom: 40px;
    left: 50%;

    transform: translateX(-50%);

    display: flex;
    gap: 10px;

    z-index: 10;
}

.historia-ponto{
    width: 12px;
    height: 12px;

    border-radius: 50%;

    background: rgba(255,255,255,.3);

    cursor: pointer;
}

.historia-ponto.ativo{
    background: white;
}


/* ----------------------- CSS DA HOME - CENTRO-OESTE -------------------------*/

.home-centro-oeste{
    display: flex;
    flex-direction: column;
    width: 100%;
    background:
        linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.96),
            rgba(0, 0, 0,0.98),
            rgba(0, 0, 0,0.96)
        );
    color: var(--cor-areia);
}


.estados-container{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.estado-item{
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100vh;
    padding: 0 8%;

    overflow: hidden;

}

.estado-item::before{
    content: "";

    position: absolute;
    inset: 0;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    opacity: .08;

    z-index: 0;
}

.estado-goias::before{
    background-image: url("../image/bandeira-go.jpg");
}

.estado-mt::before{
    background-image: url("../image/bandeira-mt.jpg");
}

.estado-ms::before{
    background-image: url("../image/bandeira-ms.jpg");
}

.estado-imagem,
.estado-texto{
    position: relative;
    z-index: 2;
}

.estado-item::after{
    content: "";

    position: absolute;

    top: -120px;
    left: 50%;

    transform: translateX(-50%);

    width: 600px;
    height: 300px;

    background:
        radial-gradient(
            ellipse,
            rgba(242,224,200,.18) 0%,
            rgba(242,224,200,.08) 30%,
            transparent 70%
        );

    z-index: 1;
}

.estado-item.invertido{
    flex-direction: row-reverse;
}


.estado-imagem{
    flex: 0 0 40%; /* ocupa cerca de 35% da largura */
    max-width: auto; /* limita o tamanho máximo */
}

.estado-imagem img{
    width: 100%;
    display: block;
    transition: .6s;
}

.estado-texto{
    flex: 1;
    max-width: 700px; /* impede linhas gigantes */
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.estado-item:hover img{
    transform: scale(1.05);
}

.estado-texto{
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.estado-texto span{
    color: var(--cor-verde-oliva);
    letter-spacing: 3px;
    font-size: 1.1em;
}

.estado-texto h3{
    font-family: "Six Caps", sans-serif;
    font-size: 9em; /* antes era 8em */
    line-height: .9;
    color: var(--cor-areia);
}

.estado-texto p{
    color: var(--cor-areia);
    line-height: 2;
    font-size: 1.2em; /* antes era 1em */
}
